__pycache__
applications/*/.metadata/*
applications/*/targets/.project
applications/*/targets/STM32L4/Release/*
applications/*/targets/STM32L4/Debug/*
applications/*/targets/STM32L4/.mxproject
applications/*/targets/STM32L4/.settings/language.settings.xml
applications/*/targets/STM32L4/.settings/stm32cubeide.project.prefs
docs/build/*

